@{
    ViewData["Title"] = "My Requesting List";
}

<h1 class="pagename">@ViewData["Title"]</h1><hr />
<div class="text-center">
    <div><a class="dash" asp-area="" asp-controller="Account" asp-action="Index">DashBoard</a><br /><hr /></div>
    <p class="reg">Check requesting list!</p>
</div>
